<section class="bests-items" id="bests-items">
    <h2 class="section-title">
        Nos activite
    </h2>
    <div class="best-plants">
        <a style="margin-left: 50px;" class="plant-box plant1 no-grid">
            <div class="plant-details">
                <p class="plant-name">Plante</p>
                <p class="plant-price">24,99€</p>
            </div>
        </a>
        <a  style="margin-left: 50px;" class="plant-box plant2 no-grid">
            <div class="plant-details">
                <p class="plant-name">Plante</p>
                <p class="plant-price">14,99€</p>
            </div>
        </a>
        <a  style="margin-left: 50px;" class="plant-box plant3 no-grid">
            <div class="plant-details">
                <p class="plant-name">Plante</p>
                <p class="plant-price">24,99€</p>
            </div>
        </a>
        <a  style="margin-left: 50px;" class="plant-box plant4 no-grid">
            <div class="plant-details">
                <p class="plant-name">Plante</p>
                <p class="plant-price">29,99€</p>
            </div>
        </a>
    </div>
</section> 